@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Avant";
  src: url("./fonts/Avant.woff2");
}

@theme {
  --font-sans: "Roboto Mono", sans-serif;
  --font-serif: "Roboto Mono", sans-serif;
  --font-mono: "Roboto Mono", sans-serif;

  --font-roboto: "Roboto Mono", sans-serif;

  --font-avant: "Avant", sans-serif;

  --color-inactive: oklch(1 0 0 / 0.39);

  --ease-navBar: cubic-bezier(0.19, 0.69, 0.86, 0.39);

  --animate-projectUp: projectUp 0.5s ease;
  --animate-projectDown: projectDown 0.5s ease forwards;
  --animate-bg-animation-home: bg-animation-home 5s linear infinite;

  @keyframes projectUp {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }

  @keyframes projectDown {
    0% {
      transform: scaleX(1);
    }

    100% {
      transform: scaleX(0);
    }
  }

  @keyframes bg-animation-home {
    /* 0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 50% 100%;
    } */

    to {
      background-position: 200%;
    }
  }
}

body:has(.insideImg) {
  cursor: none;
}

.insideImg {
}

.bg-animating-creative-template {
  background-size: 200%;
}

.active-navLink {
  color: rgb(255, 255, 255);
}

:root {
  --grid-max-width: 62rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4304rem + 2.5316vw, 2rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

body {
  background-color: black;
}

.lil-gui {
  right: 0;
  bottom: 0;
  top: unset !important;
}

.grid-stagger {
  width: calc(100svw / 9);
  height: 100svh;
  filter: contrast(120%) brightness(100%);
  background:
    linear-gradient(0deg, rgba(0, 0, 255, 1), rgba(255, 255, 255, 0.5)),
    url(./img/feTurbulenceRectangle.svg);
}

::selection {
  color: blue;
  background-color: white;
}

.work-item span {
  position: relative;
  transition: color 0.15s ease;
}

.work-item span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  background-color: white;
  animation: projectDown 0.3s ease forwards;
}

.work-item:hover span::before {
  animation: projectUp 0.5s ease forwards;
}

.work-item:hover span {
  color: rgb(29, 78, 216);
}
